.product {
  padding: 10px 10px;
  justify-content: center;
  text-decoration: none;
  text-decoration-line: none;
  color: #000;
}
.list {
    display: grid;
    grid-template-columns:repeat(5, 1fr);
}
.imgView {
  width: 150px;
  height: 150px;
  padding: 0 12px;
}
.imgView img {
  max-width: 150px;
  max-height: 150px;
}
.infoView {
  padding: 12px 16px;
}
.name {
  overflow: hidden;
  font-size: 14;
  font-weight: 400;
}
.name span {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
.price {

}
.price span {
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
}

.price .discount {
  background-color: rgb(255,66,78);
  color: white;
  padding: 0px 2px;
  margin-left: 3px;
  font-size: 13px;
  font-weight: 700;

}

.product::selection {
  background-color: #352e7e;
  color: red;
}

/*** Mozilla based browsers ***/
.product::-moz-selection {
  background-color: #352e7e;
  color: red;
}

/***For Other Browsers ***/
.product::-o-selection {
  background-color: #352e7e;
  color: red;
}

.product::-ms-selection {
  background-color: #352e7e;
  color: red;
}

/*** For Webkit ***/
.product::-webkit-selection {
  background-color: #352e7e;
  color: red;
}