.container {
    display: flex;
    flex-direction: column;
}
.list {
  display: grid;
  grid-template-columns:repeat(10, 1fr)
}
.name {

}
.price {

}
.imgCate {
  max-width: 60px;
  max-height: 60px;
  align-items: center;
  justify-content: center;
  display: flex
}
.imgCate img {
  max-width: 60px;
  max-height: 60px;
}
.cateView {
  align-items: center;
  margin: 19px 10px;
  text-decoration: none;
  text-decoration-line: none;
}
.cateView span {
  font-size: 15px;
  line-height: 20px;
  color: black;
}
.cateBG {
  border-radius: 20px;
  border-color: red;
  border-width: 2px;
  overflow: hidden;
}
.block {
  margin: 20px 0px;
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
}
.block .header {
  margin: 15px 0;
}
.block .header span {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase
}

.listKeyword {
  display: grid;
  grid-template-columns:repeat(4, 1fr)
}

.listImg {
  flex-direction: row;
  padding: 8px;
  display: flex;
}

.listImg img {
  margin: 0 2px;
}

.searchView {
  border-radius: 15px;
  border-width: 1px;
  border-color: rgb(238, 238, 238);
  border-style: solid;
  margin: 0 15px;
  text-decoration: none;
}

.searchView:nth-child(1) .searchText {
  background-color:rgb(211, 238, 255);
}
.searchView:nth-child(2) .searchText {
  background-color:rgb(252, 248, 228);
}
.searchView:nth-child(3) .searchText {
  background-color:rgb(255, 241, 241);
}
.searchView:nth-child(4) .searchText {
  background-color:rgb(231, 248, 241);
}

.searchText {
  border-radius: 15px;
  padding: 10px 10px;
}
  
  
  