.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list {
  display: grid;
  grid-template-columns:repeat(5, 1fr)
}
.name {

}
.price {

}
  
  
  